#Productlist_headerbar{
    box-sizing: border-box;
    background: #fff;
    ul{
        display: flex;
        list-style: none;
        height: 40px;
        width: 100%;

        li{
            // position: fixed;
            // top:0;
            flex: 1;
            height: 100%;
            line-height: 40px;
           a{
            color: #999;
           } 
        
        }
    }
}
.active2{
    color: #000;
    font-weight: bold;
}
.move2{
    position: fixed;
    top:0;
    z-index: 10000;
    background: #fff;
 
  }