.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}

.women {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-size:26.67vw;
    

    img {
        border:0;
    }
}