#personalcenter{

    //     .am-navbar-left{
    //         background:#f60;
       
    // }
    overflow: hidden;
    .left{
        position: absolute;
        left: 5px;
        top:-7px;
        font-size: 40px;
    }
}
#Personalcenter1{
    background: #fff;
    height: 100%;
}
.l{
    float: left;
}
.r{
    float: right
}
.am-popover-mask {
   
    opacity:0;
}
#personalcenter_list{
   
    .h1p{
        border-bottom: 1px solid #ccc;
    }
 ul{
     list-style: none;
     margin: 20px;
     border: 1px solid #ccc;
     li:nth-child(1){
        display: flex;
        height: 90px;
        // background: #f60;
        width: 100%;
        // padding-left: 5px;
        align-items: center;
        // border-bottom: 1px solid #ccc;
        div:nth-child(1){
            width: 80px;
            height: 80px;
            background: #eee;
            border-radius: 50%;

        }
       div:nth-child(2){
            flex: 1;
            text-align: left;
            margin-left: 20px;
            font-size: 12px;

            h1{
                margin: 0;
                line-height:45px;
                
            }
            p{
                color: #999;
                font-size: 14px;
            }

        }
     }
     li:nth-child(2){
        display: flex;
        height: 90px;
        // background: #ff0;
        width: 100%;
                div{
            flex-direction:row;
            margin: 10px; 
            flex: 1;
            align-items: center;
            div:nth-child(1){
                border-left:1px solid #ccc; 
                background: #90e
            }
            h1{
                margin: 0;
                line-height:50px;  
            }
           
        }
        
     }
 }
 .down{
    height:350px;
    width: 100%;
    li span{
        display: block;
        // background-image:url("/public/imgs/sanjiao.png") ;
        width: 0px;
        height: 0px;
        // background: #999;
        position: absolute;
        right:20px;
        top:30px;
   border-top: 5px solid #fff;

   border-right: 5px solid #fff;

   border-bottom: 5px solid #fff;

   border-left: 5px solid #ccc;
   
    }
    li:nth-child(2){
        position: relative;
    }
    li:nth-child(2) p{
        position: absolute;
        right: 40px;
        font-size: 13px;
        top:0px;
        color: #999;
    }
     ul{
        height:100% ;
        border: 0;
        display: flex;
        flex-direction: column;
         li{
             height: 20px;
             position: relative;
             flex: 1;
             border-bottom: 1px solid #ccc;
            //  background: #90e;
             padding: 0;
             font-size: 17px;
             line-height:70px;
             color: #000;
             text-align: left;
             
             a{
                color: #000;   
             }

         }
     }
 }
}
#personalcenter_list ul li:nth-child(2) div:nth-child(1){
    border-right:1px solid #ccc; 
}
