.login_div{
    .login_ul{
        list-style:none;
        li{
            float:left;
            height:35px;
            line-height:35px;
            padding:0 10px;
            a{
                color:#000;
                font-size:16px;
            }
        }
        li:nth-of-type(2){
            position: relative;
            font-size:12px;
        }
        li:nth-of-type(2) input{
            width:250px;
            height:35px;
            line-height:35px;
            outline: none;
            border:0;
            background:#eee;
        }
        li:nth-of-type(2) i{
            position: absolute;
            top:4px;
            left:30px;
            line-height:30px;
            font-size: 18px;
        }
        li:nth-of-type(3) i{
            font-size: 22px;
        }
    }
}