#brand_null{
    height: 260px;
    // background: #ff0;
    position: relative;
    .pic2{
        width: 130px;
        height: 130px;
        border-bottom: 0;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        p{
            font-size: 14px;
            color: #999;
            line-height: 30px;
            font-weight: 100;
        }
     
    }
}