
.l{
    float: left;
}
.r{
    float: right
}
.am-popover-mask {
   
    opacity:0;
}
.Top_name{
    font-size: 14px;
    font-weight: bold;
}
#personalcenter{
    z-index: 1000000000;
    position: relative;
    top: 0;
    width: 100%;
}