.list {
    width:100%;

    .list_box {
        width: 100%;
        height: 12.52rem;
        overflow: hidden;
        margin: 0 auto .266667rem;
        position: relative;

        .imglist {

            img {
                width:100%;
                opacity: 0.8;
            }
        }

        .listinfo {
            position: absolute;
            top:134px;
            left:6px;
            color:#fff;
            font-size:14px;
            text-align: left;

            .En {
                margin-bottom: 6px;
            }

            .desc {
                margin-bottom:6px;
            }
        }
    }
}