.bannerInfo {
    position: absolute;
    left:0px;
    bottom:8.56rem;
    width:100%;
    color:#fff;

    strong {
        font-size:26px;
    }
    span {
        display: block;
        font-size:16px;
    }
}