$baseFontSize:16px;
// pixels to rems 
@function pxToRem($px) {
      @return $px / $baseFontSize * 1rem;
}
html {
    font-size: $baseFontSize;
    -ms-touch-action: none;
}
.upcoming_div{
    
    h1{
        font-size:pxToRem(24px);
        height: pxToRem(24px);
        font-weight: 100;
        line-height: pxToRem(24px);
        margin: 0;
        text-align: left;
        text-indent: pxToRem(10px);
    }
    p{
        text-align: left;
        margin-top:pxToRem(10px) ;
        margin-bottom:pxToRem(10px) ;
        text-indent: pxToRem(10px);
        height: pxToRem(16px);
        color: #666
    }
    img{
        width:100%;
        height: pxToRem(207px);
    }
    div{
        position: relative;
        ul{
            position: absolute;
            left: 0;
            top:55%;
            list-style: none;
            text-align: left;
            color:#fff;
            width: 100%;
            li{
                height:20px;
                margin-bottom: 5px;
                font-size: 14px;
                width: 100%;
                position: relative;
                z-index: 1;
                margin-left: pxToRem(10px);
            }
            
        }
        ul:before{
            content: '';
            position: absolute;
            display: block;
            background:linear-gradient(top,  #fff 0%, #333 50%, #000);
            opacity: .3;
            width:100%;

            top: -12px;
            height: 130px;
        }
        span{
            display: block;
            position: absolute;
            right: pxToRem(15px);
            bottom: 0;
            height: pxToRem(20px);
            background: #fff;
            color: #000;
            font-weight: 600;
            line-height: pxToRem(20px)
        }
        
    }
}